.deps
.libs
Makefile
Makefile.in
aclocal.m4
autom4te.cache
configure
config.h
config.h.in
config.log
config.status
ltmain.sh
install-sh
*.o
*.la
*.lo
libtool
stamp-h1
portablexdr-*.tar.gz
missing
config.guess
config.sub
depcomp
*.loT
portable-rpcgen
remote_protocol.x
remote_protocol.c
remote_protocol.h
rpcgen_parse.c
rpcgen_parse.h
rpcgen_scan.c
test.x
test.c
test.h
ylwrap
